<%= link_to "Back", user_path(current_user) %>

<h3><%= current_user.username %>'s <%= @saved_recipe.name %></h3>

<p>Ingredients:</p>
<ol>
  <% @saved_recipe.ingredients.each do |ingredient| %>
    <li><%= link_to ingredient.name, ingredient_path(ingredient), id: "ingredient-link-#{ingredient.id}" %> 

      </li>
  <% end %>
</ol>
<%= link_to 'Add to this recipe', ingredients_path %> 

<!-- How on earth am I going to be able to click an ingredient and have it added to the recipe or the 

Now that I look over this code I relaize I cant even add ingredients to a regular recipe. 


1- Do I add the ingredient id to a session param namespaced to ingredients and then create from those params? 

2- Do I create a three part drop down menue to first sort by category and type and then finally a sub list of ingredients to add from which then is actually posted to create?

3 -Can I use basic rails magic somehow to pass in the id of the recipe or saved recipe in the link_to and then use that to build a RecipeIngredient or SavedRecipeIngredient?

-->

