<%= form_for @recipe do |f| %>

<fieldset>
  <legend>Recipe Details</legend>
  <div>
    <%= f.label :name%>
    <%= f.text_field :name, autofocus: true %>
  </div>

   <div>
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>


</fieldset>
<% end %>

<!--  For the measurement type .pluralize if > 1 )
 
 recipes need a column added to the migration for the instructions which should be a text area

 -->


