<%= form_for @user do |f| %>

<fieldset>
  <legend>Enter your details</legend>
  <div>
    <%= f.label :username, autofocus: true%>
    <%= f.text_field :username %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

   <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.submit 'Register' %>
  </div>
</fieldset>
<% end %>


