<%= link_to "Home", root_path %>

<h3><%= @user.username %>'s Page</h3>

<p><%= @user.username %>'s Saved Recipes<p>

<% if @user.recipes.any? %>
  <% @user.recipes.each do |recipe| %>
    <div class="user-saved-recipe"<%= recipe.id %>>
      <p><%= link_to recipe.name, user_recipe_path(@user, recipe) %>
        <% if current_user == @user%>
          <%= link_to "(-)", user_recipe_path(@user, recipe), method: :delete %>
        <% end %>
      </p>
    </div>
  <% end %>
<% end %>


