<%= form_for @ingredient do |f| %>

<fieldset>
  <legend>Enter your details</legend>
  <div>
    <%= f.label_tag :name, autofocus: true%>
    <%= f.text_field_tag :name %>
  </div>
  <div>
    <%= f.label_tag :description %>
    <%= f.text_field :description %>
  </div>
   <div>
    <%= f.label_tag :category %>
    <%= f.text_field_tag :category %>
  </div>
  <div>
    <%= f.label_tag :calories %>
    <%= f.text_field_tag :calories %>
  </div>
  <div>
    <%= f.label_tag :fat %>
    <%= f.text_field_tag :fat %>
  </div>
  <div>
    <%= f.label_tag :protein %>
    <%= f.text_field_tag :protein %>
  </div>
  <div>
    <%= f.label_tag :carbohydrates %>
    <%= f.text_field_tag :carbohydrates %>
  </div>
  <div>
    <%= f.label_tag :fiber %>
    <%= f.text_field_tag :fiber %>
  </div>
  <div>
    <%= f.label_tag :sugars %>
    <%= f.text_field_tag :sugars %>
  </div>
   <div>
    <%= f.label_tag :water %>
    <%= f.text_field_tag :water %>
  </div>

  <div>
    <%= f.submit_tag 'List Ingredient' %>
  </div>
</fieldset>
<% end %>

